 <launch>


	<!-- subscribe to /audio ROS messages -->
	<node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
		<param name="lm" value="$(find user_voice_recordings)/language_models/robot_control.lm" />
		<param name="dict" value="$(find user_voice_recordings)/language_models/robot_control.dic" />
		<param name="audio_msg_topic" value="/audio" />
		<remap from="~output" to="nl_command_parsed"/>
	</node>

	<!-- <node name ="recorder" pkg="user_voice_recordings" type="User_Recording_Script.py"/> -->


 </launch>


